---
layout: default
id: eine-woche
title: Eine Woche Abu Dhabi
intro: Fata Morgana oder wahr gewordener Traum? Wer sich die Zeit nimmt, das Emirat Adu Dhabi in seinem ganzen Facettenreichtum zu erkunden, wird in Staunen versetzt. Visionärer Pioniergeist neben jahrtausendealter Beduinen-Tradition, kompromissloser Luxus und kosmopolitischer Glamour – willkommen in einer Realität aus 1001 Nacht.
nav: true
nav-order: 3
banner:
  title: Eine Woche Abu&nbsp;Dhabi
  title-sub: Lifestyle zwischen Dünen&nbsp;&&nbsp;Oasen


features:

  - id: one
    title: Tag 1
    bg-img: bg-img11
    opacity: --light
    text-color:
    subtitle: Shoppen & Genießen
    description: In den frühen Morgenstunden, wenn Abu Dhabis Souks zum Leben erwachen, ist die beste Zeit für eine Local Food Tour. Stimmen Sie sich bei authentischen Emirati Experiences auf die Wunder der Wüste ein, entfliehen Sie beim High-End-Shopping in majestätischen Malls der Mittagssonne und krönen Sie Ihren Abu-Dhabi-Auftakt mit einem Panorama-Spaziergang entlang der paradiesischen Corniche.

    day-content1: block
    subtitle1: Sinnliche Einstimmung
    day-description1: Wie tief verwurzelt die Beduinen-Kultur in Abu Dhabi ist, hört, sieht und riecht man nicht nur auf den farbenprächtigen Lebensmittel-Märkten. Ein aromatischer Qahwa-Kaffee, begleitet von zuckersüßen Datteln - der tägliche Vorgeschmack auf genussvoll gelebte Tradition. Wer den Geschmack der Wüste hautnah erleben möchte, lernt Land, Leute und Kulinarik am besten bei einer von Einheimischen geführten Local Food Tour kennen. Auch musikalisch, optisch und kulturell bieten die individuell buchbaren Emirati Experiences eine sinnliche Einstimmung - beim Feilschen auf dem Gold-Souk, einer geselligen Karak-Teestunde in einem emiratischen Haushalt oder Kamel-Safaris in der Wüste.
    img1: day1-1

    day-content2: block
    subtitle2: High-End-Shopping
    day-description2: Ob traditionelle Märkte, exklusive Luxus-Boutiquen oder mit Markenshops gepflasterte Malls – in Abu Dhabi wird der Einkauf zum Event. Originelle Einkaufszentren, preiswerte Outlets und exquisite Flagship Stores bieten willkommene Abkühlung während der Mittagsstunden. In der Marina Mall wandert der Blick nach dem Shoppen von der 100 Meter hohen Aussichtsplattform über die Corniche von Abu Dhabi. Die World Trade Centre Souk & Mall lässt Souk-Tradition in modernem Gewand erstrahlen – exotische Dachgärten, lohnende Sales und Atrium-Pracht inklusive.
    img2: day1-2

    day-content3: block
    subtitle3: Paradiesische Corniche
    day-description3: Eingerahmt vom legendären Emirates Palace Hotel und dem tropischen Urban Park lädt Abu Dhabis Strandpromenade zum Relaxen ein. Mit der Blauen Flagge für Wasserqualität und Sauberkeit prämiert, garniert mit schattigen Sonnenliegen, Snackbars und Panorama über Lulu Island. Teils exklusiv wie im Hiltonia Beach Club, teils mit auf Familien zugeschnittener Infrastruktur, stets von Life Guards bewacht – entlang der Corniche findet jeder ein paradiesisches Plätzchen. Den perfekten Rundumblick gibt es in der stylishen Azura Panoramic Lounge im The St.Regis Nation Tower.
    img3: day1-3


  - id: two
    title: Tag 2
    subtitle: Wunder der Wüste
    bg-img: bg-img14
    opacity: --darker
    text-color: text--white
    description: In der Wüste schlummert die Seele der Vereinigten Arabischen Emirate. Wer dem Geheimnis von Abu Dhabi auf die Spur kommen möchte, findet zwischen endlosen Dünenlandschaften und Wolkenkratzern aus Sand die passenden Antworten. Ob auf dem Rücken eines Kamels, bei Jeep-Safaris zur höchsten Düne der Welt oder einer adrenalingeladenen Prise Dune Bashing.

    day-content1: block
    subtitle1: Arabische Entschleunigung
    day-description1: In und um Abu Dhabi ist die Wüste weitaus mehr als ein Meer aus Sand. Zwischen endlosen Dünenlandschaften, fernab der Annehmlichkeiten der Stadt, kommt die Rückbesinnung auf alte Werte wie von selbst. Arabische Entschleunigung auf dem Rücken eines Kamels, traditionelle Beduinenküche unter klarem Sternenhimmel, naturverbundenes Brauchtum und märchenhafte Oasen – der Weg ins Herz der Vereinigten Arabischen Emirate führt durch die Wüste - atemberaubend analog beim Sand Boarding, Skilaufen oder actionreich allradbetrieben bei Offroad-Touren in die Weiten der Rub al-Khali.
    img1: day2-1

    day-content2: block
    subtitle2: Sandige Skyscraper
    day-description2: In der größten Sandwüste der Welt hat auch die Natur einige Superlative parat. Umgeben vom sandigen Skyscraper-Panorama des Empty Quarters sorgt die gewaltige Düne Tel Moreeb mit alles überragender Präsenz für staunende Blicke. Berühmt-berüchtigt als höchster Dünen-Wolkenkratzer der Welt fordert das steile Naturwunder Motorsportler aus der ganzen Welt beim Liwa International Festival zu kraftstrotzenden Hill Climbs heraus. Ein besonderes Spektakel, das ganz nebenbei dazu animiert, der Wüste selbst mal die Sporen zu geben.
    img2: day2-2

    day-content3: block
    subtitle3: Dune Bashing
    day-description3: Adrenalin pur in rieselnder Traumkulisse – beim allseits beliebten Dune Bashing fährt das Auge mit. Mit dem Quad oder Allrad-Jeep geht es in rasantem Tempo quer über die Dünen. Sand und Staub wirbeln durch die Luft, der Motor heult auf und Fahrer sowie Beifahrer erfreuen sich an einer selbst orchestrierten Augenweide. Unberührte Spots und verheißungsvolle Abflüge gibt es zwischen Abu Dhabi und der Oasenstadt Al Ain wie Sand am Meer. Am besten kombinieren Sie dieses Erlebnis mit einer Nacht in einem authentisch arabischen Wüstencamp.
    img3: day2-3


  - id: three
    title: Tag 3
    bg-img: bg-img5
    opacity: --lighter
    text-color:
    subtitle: Vollgas auf Yas-Island
    description: Yas-Island ist Abu Dhabis Synonym für Action und rekordverdächtigen Freizeitspaß. Auf dem Yas Marina Circuit blicken Sie hinter die Kulissen der Formel 1, bevor die rasanten Attraktionen der Ferrari World Sie in den Sitz drücken. Die Warner Bros. World Abu Dhabi und die Yas Mall runden das Angebot familiengerecht ab.

    day-content1: block
    subtitle1: Yas Marina Curcuit
    day-description1: Bei der Yas Venue Tour hinter die Kulissen der Formel 1 blicken, während der Yas Drift Night ordentlich Gummi geben, mit einem vor Kraft strotzenden Boliden eine der legendärsten Rennstrecken des Planeten meistern – auf dem Yas Marina Circuit ist Vollgas Programm. Hier schnuppert Mann oder Frau elegante Motorsport-Luft in einem Aston Martin Vantage oder testet das Reaktionsvermögen bei einem ohrenbetäubenden Drag Race. Wem das zu rasant ist, der kann sich als Beifahrer von Profis beschleunigen lassen. Ambitionierte Formel-1-Fans können ihre Fähigkeiten bei einem Rennlizenz-Kurs upgraden.
    img1: day3-1

    day-content2: block
    subtitle2: Warner Bros. World
    day-description2: Die neueste Attraktion auf der Action- und Freizeitinsel Yas Island - einer der größten Indoor-Freizeitparks der Welt, in dem Familien und Filmfreunde in die Welt von Batman, Fred Feuerstein und Wonder Woman abtauchen. Durch die dunklen Gassen von Gotham streifen, die All-Star Spectacular Show auf der Art-déco-Plaza erleben, Supermans‘ Metropolis bestaunen – die Warner Bros. World entführt kleine und große Abenteurer in ein detailreiches Spektakel mit 29 hochmodernen Fahrgeschäften, Live-Unterhaltung und Gastronomie.
    img2: day3-2

    day-content3: block
    subtitle3: Ferrari World & Yas Mall
    day-description3: 365 Tage im Jahr geöffnet, gehört die Ferrari World Abu Dhabi zu den schwindelerregendsten Attraktionen auf Yas Island. Rekordverdächtige Abfahrten in der schnellsten Achterbahn der Welt, spektakuläre Höhenflüge beim Flying Aces Ride und der größte Ferrari Store der Welt sorgen unter einem markanten Dach für typisch italienisches Rennsport-Ambiente. Neben einer Karting Academy erwartet Besucher die Möglichkeit, unter Anleitung einen echten Ferrari zu fahren. Danach geht’s zum ultimativen Shopping in der Yas Mall, die mit über 400 Geschäften sowie zahlreichen Restaurants und Cafés glänzt.
    img3: day3-3


  - id: four
    title: Tag 4
    bg-img: bg-img2
    opacity: --darker
    text-color: text--white
    subtitle: Alte & neue Kulturschätze
    description: In Sachen Kultur und Architektur greift Abu Dhabi nach den Sternen – mit der weit über die Grenzen des Emirats bestaunten Scheich-Zayid-Moschee, dem 2017 eröffneten Louvre Abu Dhabi auf Saadiyat Island und orientalischer Pracht in der Luxushotel-Ikone Emirates Palace. Schwindelerregender Weitblick vom Observation Deck 300 der Etihad Towers inklusive.

    day-content1: block
    subtitle1: Scheich-Zayid-Moschee
    day-description1: Ein elfenbeinfarben leuchtendes Symbol der islamischen Welt und architektonischer Höhepunkt jeder Abu-Dhabi-Reise - Von Sonntag bis Donnerstag mehrmals täglich im Rahmen kostenloser Führungen der Öffentlichkeit präsentiert, gehört das mit strahlendem Marmor, 24-karätigem Blattgold und aufwendigem Kunsthandwerk geschmückte Gotteshaus zu den zentralen Fixpunkten der Stadt. Ein unter Kuppeln und Kronleuchtern thronendes Gesamtkunstwerk aus 1001 Nacht – besonders im Rahmen der Sonnenuntergangs-Tour märchenhaft und fotogen zugleich.
    img1: day4-1

    day-content2: block
    subtitle2: Louvre Abu Dhabi
    day-description2: Eingerahmt von Mangrovenwäldern und Naturstränden lädt Saadiyat Island zum Staunen ein. Im Louvre Abu Dhabi erwarten Sie die Meisterwerke weltberühmter Künstler in einem vom französischen Stararchitekten Jean Nouvel entworfenen Universalmuseum. Machen Sie sich auf ein für die arabische Welt einzigartiges Symbol interkultureller Verständigung gefasst, das stetig um neue Exponate ergänzt wird. Nicht umsonst gehört der Ableger der Pariser Kunst-Institution seit seiner Eröffnung im November 2017 zu den markantesten Museen der Welt.
    img2: day4-2

    day-content3:
    subtitle3: Emirates Palace & Etihad Towers
    day-description3: Der weltweite Maßstab für Luxus, Größe und kompromisslosen Service ist ein mit Perlmutt, Gold und Kristallen bestücktes Paradebeispiel orientalischer Pracht, das den Ruf Abu Dhabis als Premium-Destination mitbegründet hat. Wer das epische Ensemble zum ersten Mal erblickt, darf nicht erschrecken, wenn Realität und Fiktion in goldenen Sandtönen zu verschwimmen beginnen. Auch im Innern der Hotel-Legende gilt die Maxime - für unsere Gäste ist nur das Beste gut genug. Da hilft nur ein Abstecher auf die Besucherterrasse der Etihad Towers im 74. Stockwerk – hier oben, auf dem Observation Deck 300, komplettiert das Panorama über die Corniche den Eindruck einer Fata Morgana.
    img3: day4-3


  - id: five
    title: Tag 5
    bg-img: bg-img8
    opacity: --lighter
    text-color:
    subtitle: UNESCO-Anmut in Al Ain
    description: Die atemberaubende Geschichte von Abu Dhabi und der Vereinigten Arabischen Emirate beginnt in der Wüste, genauer gesagt in einer blühenden Fata Morgana zu Füßen des Jebel Hafeet. Inmitten eines Meeres aus Dattelpalmen lädt die zum UNESCO-Welterbe gehörende Oasenstadt Al Ain mit historischen Forts und gelebter Beduinen-Kultur zum Entdecken ein.

    day-content1: block
    subtitle1: Oase Al Ain
    day-description1: Hier nahm alles seinen Anfang. Eine Quelle als Ursprung des Lebens und des Wohlstands, Heimatstadt des Scheichs Zayed bin Sultan al Nahyan, blühendes Gegenstück zur allgegenwärtigen Wüste. Zu Füßen des größten Gipfels der Vereinigten Arabischen Emirate erwartet Besucher ein artenreiches Ökosystem mit der Größe von Paris. Stätte genetischer Ressourcen, Garant für Bio-Diversität und UNESCO-Welterbe mit mehr als 140.000 Dattelpalmen, die süße Energie und kühlenden Schatten spenden. Eine von Wasser zum Leben erweckte Fata Morgana mit Freizeitparks, Zoo und kulturgeschichtlichem Nationalmuseum.
    img1: day5-1

    day-content2: block
    subtitle2: Al Jahili Fort
    day-description2: Das historische und aufwendig restaurierte Al Jahili Fort zeugt von der Bedeutung der Dattelpalmen. Einst zu deren Schutz erbaut, beherbergt das Schmückstück heute wechselnde Ausstellungen und bietet spannende Einblicke in eine Zeit, in der Kamele und Karawanen die Eckpfeiler des Wohlstands waren. Auch die Festung Al Qattara zeugt von der geschichtsträchtigen Rolle von Al Ain, während der benachbarte Souk mit kulturellem Rahmenprogramm, Festivals und Kunsthandwerk für bleibende Erinnerungen sorgt.
    img2: day5-2

    day-content3:
    subtitle3: Qasr al Muwaiji
    day-description3: Einst Diwan der Herrscherfamilie, Versammlungsplatz und Regierungssitz, nimmt der Qasr al Muwaiji eine bedeutende Rolle in der Geschichte der Vereinigten Arabischen Emirate ein. Nach der Ernennung Scheich Zayids zum Herrscher im Jahre 1966 folgte der Umzug nach Abu Dhabi, die majestätische Festung wurde aufgegeben. Vorübergehend als Dattelplantage genutzt, wurden die ehrwürdigen Gemäuer mit Liebe zum Detail und traditionellen Methoden wieder zum Leben erweckt.
    img3: day5-3


  - id: six
    title: Tag 6
    bg-img: bg-img12
    opacity: --darker
    text-color: text--white
    subtitle: Natur, Strände & Kulinarik
    description: So facettenreich wie exquisit präsentiert sich Abu Dhabi in Sachen Natur- und Hochgenuss. Die tropische Idylle des Mangrovendschungels bietet Schutz für Flamingos und Schildkröten, während öffentliche Strände und Beach Clubs exotische Tagträume am Arabischen Golf versprechen. In exklusiven Hotel-Restaurants runden Kreationen von Starköchen aus aller Welt die Reise kulinarisch ab.

    day-content1: block
    subtitle1: Mangrovenwälder & Beachlife
    day-description1: Wer sich einen Wüstenstaat ausmalt, hat nicht zwingend grüne Salzwiesen, Flamingos und Sümpfe vor Augen. Der Mangrove National Park ist die von tropischer Vegetation gesäumte Lunge Abu Dhabis. Ein artenreicher Dschungel, der Seekühen, Schildkröten und sogar Delfinen natürlichen Schutz bietet. Im Rahmen geführter Ecotours halten Sie Ausschau nach seltenen Wasservögeln und umherstreifenden Füchsen. Gut markierte Wanderwege laden zu spannenden Sichtungen ein, die vom Kajak aus nicht minder beeindruckend sind.
    img1: day6-1

    day-content2: block
    subtitle2: Saadiyat Beach, Yas Beach & Nurai Island
    day-description2: Sehnsucht nach kilometerlangen Traumstränden, sanften Dünen und türkisblauem Panorama? In Abu Dhabi wartet eine weitverzweigte Inselwelt mit facettenreicher Strandvielfalt darauf, entdeckt zu werden. Am beliebten Saadiyat Public Beach taucht man in kultivierter Nachbarschaft im Arabischen Golf ab oder genießt exquisite Ruhe im Saadiyat Beach Golfclub. Am Yas Beach sorgen Himmelbetten und ein üppiges Wassersport-Angebot für maritime Abwechslung, während ein Aufenthalt auf Nurai Island romantische Sonnenuntergänge und Boutique-Chic verspricht.
    img2: day6-2

    day-content3: block
    subtitle3: Hochgenuss im Hotelrestaurant
    day-description3: Dank Secret Escapes profitieren Sie auch in Abu Dhabi von exklusiven Preisen auf handverlesene Hotels, die exquisiten Luxus mit märchenhaften Ausblicken und weltgewandtem Hochgenuss verbinden. Im avantgardistischen Fairmont Bab Al Bahr lockt das Marco Piere White Steakhouse & Grill mit auf den Punkt gegarten Steaks und britischen Klassikern. Französische Haute Cuisine sorgt im opulenten Ambiente des Restaurant Bord Eau im Shangri-La Hotel für frankophile Sternstunden, während am Buddha-Bar Beach im St. Regis Saadiyat Island Resort exotische Fusion-Küche, legendäre Barkultur und chillige DJ-Sets aufeinander treffen.
    img3: day6-3




---
<!--
thumbnails:

  - id: active1
    title: Sinnliche Einstimmung
    description: Wie tief verwurzelt die Beduinen-Kultur in Abu Dhabi ist, hört, sieht und riecht man nicht nur auf den farbenprächtigen Lebensmittel-Märkten.

  - id: active2
    title: High-End-Shopping
    description: Ob traditionelle Märkte, exklusive Luxus-Boutiquen oder mit Markenshops gepflasterte Malls – in Abu Dhabi wird der Einkauf zum Event.

  - id: active3
    title: High-End-Shopping
    description: Ob traditionelle Märkte, exklusive Luxus-Boutiquen oder mit Markenshops gepflasterte Malls – in Abu Dhabi wird der Einkauf zum Event./-->



<div class=" vpad--xl abu-parallax--darker abu-remove-bg--black" style="background-image:url('{{site.img}}/content/{{page.id}}/hero.jpg'); ">
  <div class="container">
    <div class="width width--xl text--center text--white text--xxl">
      <p>{{page.intro}}</p>
    </div>
  </div>
</div>



{% include nav/page.html content=page.features %}

{% for feature in page.features %}
  <div class="{% cycle 'bg--white', 'bg--light' %} abu-parallax{{feature.opacity}} abu-remove-bg" style="background-image:url('{{site.img}}/content/bg-img/{{feature.bg-img}}.jpg'); ">
    <div class="container {{feature.text-color}}">
      <div id="{{feature.id}}" class="vpad--lg">
        <div class="width width--xl text--center">
          <h2 class="abu-deco-font abu-deco-font--xxxxl">{{feature.title}}</h2>
          <div class="space--lg"></div>
            <h4 class="title title--md ">{{feature.subtitle}}</h4>
          <p>{{feature.description}}</p>


        </div>
      </div>

      <div class="bob" >
        <div class="bob__img">
          <a href="#image-link">
            <div class="bg-img bg-img--3-2" style="background-image:url('{{site.img}}/content/{{page.id}}/{{feature.img1}}.jpg');"></div>
          </a>
        </div>
        <div class="bob__text" >
          <div class="title title--xs ">{{feature.subtitle1}}</div>
          <p>{{feature.day-description1}} </p>
            <div class="space--md"></div>

        </div>
      </div>

      <div class="bob bob--swap">
        <div class="bob__img">
          <a href="#image-link">
            <div class="bg-img bg-img--3-2" style="background-image:url('{{site.img}}/content/{{page.id}}/{{feature.img2}}.jpg');"></div>
          </a>
        </div>
        <div class="bob__text">
           <div class="title title--xs">{{feature.subtitle2}}</div>
          <p>{{feature.day-description2}} </p>
          <div class="space--md"></div>
        </div>
      </div>

      <div class="bob" style="{{feature.day-content3}}">
        <div class="bob__img">
          <a href="#image-link">
            <div class="bg-img bg-img--3-2" style="background-image:url('{{site.img}}/content/{{page.id}}/{{feature.img3}}.jpg');"></div>
          </a>
        </div>
        <div class="bob__text" >
          <div class="title title--xs ">{{feature.subtitle3}}</div>
          <p>{{feature.day-description3}} </p>
            <div class="space--md"></div>

        </div>
      </div>

</div>
  <div class="space--xxxl"></div>
</div>
{% endfor %}
