---
layout: default
id: eine-woche
title: Eine Woche Abu Dhabi
intro: Fata Morgana oder wahr gewordener Traum? Wer sich die Zeit nimmt, das Emirat Adu Dhabi in seinem ganzen Facettenreichtum zu erkunden, wird in Staunen versetzt. Visionärer Pioniergeist neben jahrtausendealter Beduinen-Tradition, kompromissloser Luxus und kosmopolitischer Glamour – willkommen in einer Realität aus 1001 Nacht. 
nav: true
nav-order: 3
banner:
  title: Eine Woche Abu Dhabi
  title-sub: Lifestyle zwischen Dünen & Oasen
content-pages: true

features:

  - id: one
    title: Tag 1
    subtitle: Shoppen & Genießen
    img: day1
    img1: active1
    description: Lorem ipsum dolor sit amet, consectetur adipisicing elit. Labore suscipit, nam sit reprehenderit doloribus non dolore voluptatem autem ex adipisci, eius quibusdam placeat earum magnam aspernatur magni aut, doloremque rerum.
    day-content1: block
    subtitle1: Sinnliche Einstimmung
    day-content2: block
    img2: active2
    day-content3: none
    link: "#one-link"

  - id: two
    title: Tag 2
    subtitle: Wunder der Wüste
    img: day2
    description: Lorem ipsum dolor sit amet, consectetur adipisicing elit. Labore suscipit, nam sit reprehenderit doloribus non dolore voluptatem autem ex adipisci, eius quibusdam placeat earum magnam aspernatur magni aut, doloremque rerum.
    link: "#two-link"

  - id: three
    title: Tag 3
    subtitle: Vollgas auf Yas-Island
    img: day3
    description: Lorem ipsum dolor sit amet, consectetur adipisicing elit. Labore suscipit, nam sit reprehenderit doloribus non dolore voluptatem autem ex adipisci, eius quibusdam placeat earum magnam aspernatur magni aut, doloremque rerum.
    link: "#three-link"

  - id: four
    title: Tag 4
    img: day4
    subtitle: Alte & neue Kulturschätze
    description: Lorem ipsum dolor sit amet, consectetur adipisicing elit. Labore suscipit, nam sit reprehenderit doloribus non dolore voluptatem autem ex adipisci, eius quibusdam placeat earum magnam aspernatur magni aut, doloremque rerum.
    link: "#four-link"

  - id: five
    title: Tag 5
    subtitle: UNESCO-Anmut in Al Ain
    img: day5
    description: Lorem ipsum dolor sit amet, consectetur adipisicing elit. Labore suscipit, nam sit reprehenderit doloribus non dolore voluptatem autem ex adipisci, eius quibusdam placeat earum magnam aspernatur magni aut, doloremque rerum.
    link: "#five-link"

  - id: six
    title: Tag 6
    subtitle: Wunder der Wüste
    description: Lorem ipsum dolor sit amet, consectetur adipisicing elit. Labore suscipit, nam sit reprehenderit doloribus non dolore voluptatem autem ex adipisci, eius quibusdam placeat earum magnam aspernatur magni aut, doloremque rerum.
    link: "#six-link"

---
<!--
thumbnails:

  - id: active1
    title: Sinnliche Einstimmung
    description: Wie tief verwurzelt die Beduinen-Kultur in Abu Dhabi ist, hört, sieht und riecht man nicht nur auf den farbenprächtigen Lebensmittel-Märkten.

  - id: active2
    title: High-End-Shopping
    description: Ob traditionelle Märkte, exklusive Luxus-Boutiquen oder mit Markenshops gepflasterte Malls – in Abu Dhabi wird der Einkauf zum Event.

  - id: active3
    title: High-End-Shopping
    description: Ob traditionelle Märkte, exklusive Luxus-Boutiquen oder mit Markenshops gepflasterte Malls – in Abu Dhabi wird der Einkauf zum Event./-->



<div class="bg--light vpad--xxl">
  <div class="container">
    <div class="width width--lg text--center text--xl">
      <p>{{page.intro}}</p>
    </div>
  </div>
</div>

{% include nav/page.html content=page.features %}

{% for feature in page.features %}
  <div class="{% cycle 'bg--white', 'bg--light' %}">
    <div class="container">
      <div id="{{feature.id}}" class="vpad--lg">
        <div class="vpad--xs width width--xl text--center">
          <h2 class="title title--xl text--upper">{{feature.title}}</h2>
          <div class="space--lg"></div>
        <div class="bg-img bg-img--16-9" style="background-image: url('{{site.img}}/content/{{page.id}}/{{feature.img}}.jpg')"></div>
        <div class="space--lg"></div>
            <h4 class="title title--md">{{feature.subtitle}}</h4>
          <p>{{feature.description}}</p>

        <!--  <a href="{{feature.link}}" class="btn btn--sm btn--orange">Zu den Angeboten</a>-->
        </div>
      </div>

  <div class="row row--gutters-md">
    <!-- thumbnails/-->

        <div class="col col--xl-4 col--xxl-4 text--center" style="display:{{feature.day-content1}};">
        <div class="pt-highlight-shadow">
          <div class="highlight__image bg-img bg-img--16-9" style="background-image:url('{{site.img}}/content/{{page.id}}/{{feature.img1}}.jpg');"></div>
          <div class="highlight__text boxpad--lg bg--white">
          <h5 class="core-title core-title--xs text--bold">{{feature.subtitle1}}</h5>
          <div class="space--xs"></div>{{feature.description}}<br>

        </div>
      </div>
    </div>
    <div class="col col--xl-4 col--xxl-4 text--center" style="display:{{feature.day-content2}};">
    <div class="pt-highlight-shadow">
      <div class="highlight__image bg-img bg-img--16-9" style="background-image:url('{{site.img}}/content/{{page.id}}/{{feature.img2}}.jpg');"></div>
      <div class="highlight__text boxpad--lg bg--white">
      <h4 class="core-title core-title--xs text--bold text--upper">{{feature.day-content.title}}</h4>
      <div class="space--xs"></div>{{feature.day-content}}<br>

    </div>
  </div>
</div>
<div class="col col--xl-4 col--xxl-4 text--center" style="display:{{feature.day-content3}};">
<div class="pt-highlight-shadow">
  <div class="highlight__image bg-img bg-img--16-9" style="background-image:url('{{site.img}}/content/{{page.id}}/highlight3.jpg'); "></div>
  <div class="highlight__text boxpad--lg bg--white">
  <h4 class="core-title core-title--xs text--bold text--upper">{{feature.day-content.title}}</h4>
  <div class="space--xs"></div>{{feature.day-content}}<br>

</div>
</div>
</div>



  </div></div>
  <div class="space--xxl"></div></div>
{% endfor %}
