---
layout: default
id: stopover
title: Abu Dhabi Stopover
intro: In einer schillernden Wüstenmetropole wie Abu Dhabi hat jede Tageszeit ihren eigenen Charme. Ob morgendliche Spaziergänge über farbenfrohe Souks, eine mondäne Shoppingtour zur Mittagszeit oder ein romantischer Sonnenuntergang mit Skyline-Panorama – hier wird der Stopover zum facettenreichen Spektakel.
nav: true
nav-order: 2
banner:
  title: Stopover Abu Dhabi
  title-sub: Skyline-Fieber am Wüstenstrand

content-pages: true

features:

  - id: one
    title: Tag 1
    subtitle: Shopping, Kultur & Nightlife
    description: In einer schillernden Wüstenmetropole wie Abu Dhabi versprüht jede Tageszeit ihren eigenen Reiz. Ob morgendliche Spaziergänge über farbenfrohe Souks, eine mondäne Shoppingtour zur Mittagszeit oder ein romantischer Sonnenuntergang mit Skyline-Panorama – hier wird der Stopover zum facettenreichen Spektakel.

    day-content1: block
    subtitle1: Magisches Morgen-Shopping
    day-description1: Traditionelle Souks sind fester Bestandteil der arabischen Kultur. Kostbare Gewürze, orientalisches Kunsthandwerk und edle Stoffe wechseln in geschäftigen Kulissen die Besitzer, während das Feilschen die Märkte mit lebhafter Interaktion erfüllt. Der Fisch-Souk in Mina Zayed und der historische Al Ain Souk locken mit authentischer Händlerkultur, die auf dem Al Mina Obst- & Gemüse-Souk farbenfrohe Schnappschüsse garantiert. Kontrastreich ergänzt wird das Shoppingangebot durch großzügige Malls, Luxusboutiquen von Weltformat und Marken-Outlets, die den Stopover mit exquisiten Schnäppchen bereichern. Die perfekte Gelegenheit, um nach einem Mitbringsel für die Lieben daheim zu stöbern.
    img1: day1-1

    day-content2: block
    subtitle2: Majestätische Mittagstunden
    day-description2: Eine der faszinierendsten Facetten Abu Dhabis ist die allgegenwärtige Melange aus Tradition und Moderne. Nutzen Sie die heißen Mittagsstunden, um die reichhaltige Kultur der Beduinen zu erforschen und lassen Sie sich von den historischen und sakralen Wahrzeichen der Stadt verzaubern. Die prunkvolle und 2007 eröffnete Scheich-Zayid-Moschee beherbergt den größten handgeknüpften Teppich der Welt und bietet Platz für bis zu 40.000 Gläubige, die zwischen goldenen Kronleuchtern, weißem Marmor und über 1.000 Säulen beten. Bei der Sonnenuntergang-Tour erstrahlt die unter 82 Kuppeln thronende Moschee in flimmernden Glanz – ein majestätisches Fotomotiv, das bei Besuchern aller Religionen für andächtiges Staunen sorgt.
    img2: day1-2

    day-content3: block
    subtitle3: Über den Dächern von Abu Dhabi
    day-description3: Wenn die Skyline von Abu Dhabi in den Abendstunden kunstvoll illuminiert zum Leben erwacht, ist eine Rooftop-Bar der perfekte Spot, um die Eindrücke des Tages bei einer von atemberaubenden Aussichten untermalten Cocktailstunde Revue passieren zu lassen. Zum Beispiel in der legendären Up & Below Bar im 12. Stock des Courtyard by Marriott World Trade Center, die dank Rooftop-Pool exklusive Erfrischung mit Skyline-Panorama garantiert. Oder in der futuristischen Skylite Lounge des Yas Hotel Abu Dhabi mit Blick über den Yas Marina Curcuit. Nicht schwindelfrei? Dann ist die stylishe Beach House Rooftop im Park Hyatt die perfekte Alternative, um malerische Sonnenuntergänge am Arabischen Meer zu genießen.
    img3: day1-3
    link: "#one-link"

  - id: two
    title: Tag 2
    subtitle: Kultur & Beachlife auf Saadiyat Island
    description: Neben reichhaltigen Shoppingmöglichkeiten und eklektischer Nobel-Hotellerie wartet Abu Dhabi allerorts mit traumhaften Bilderbuchstränden, kulturellem Zeitgeist und kulinarischer Finesse auf. Frei nach dem Motto „Wenn der Prophet nicht zum Berg kommt, muss der Berg zum Propheten“ wird der Tag auf Saadiyat Island zur kulturellen Weltreise.

    day-content1: block
    subtitle1: Kultur pur im Louvre Abu Dhabi
    day-description1: Wenige Minuten von Abu Dhabi Downtown und nur eine kurze Fahrt vom Abu Dhabi International Airport sorgt Saadiyat Island mit kulturellen Highlights für andächtiges Staunen. Entdecken Sie im vom französischen Stararchitekten Jean Nouvel entworfenen Universalmuseum Louvre Abu Dhabi die Meisterwerke weltberühmter Künstler. Auf 55 Gebäuden über dem Meer thronend, erwartet Sie ein für die arabische Welt einzigartiges Symbol interkultureller Verständigung. Stetig um neue Exponate aus allen Epochen ergänzt, gehört der Louvre Abu Dhabi schon seit seiner Eröffnung im November 2017 zu den bedeutendsten Kunstsammlungen der Welt.
    img1: day2-1

    day-content2: block
    subtitle2: Relaxen am Saadiyat Beach
    day-description2: Weiße Puderzuckerstrände, umgeben von natürlicher Dünenvegetation, türkisblauem Wasser und einem für heimische Karettschildkröten vorbehaltenen Naturparadies – am Saadiyat Public Beach tauchen Sie nach dem Besuch des Kulturzentrums von Abu Dhabi im Arabischen Golf ab, vergnügen sich bei einer Partie Golf im edlen Saadiyat Beach Golfclub oder entspannen in schattigen Sesseln. Exklusiver Luxus erwartet Sie im Saadiyat Beach Club, der mit edlem Spa, Infinitypool und lauschigen Lounge-Betten zu tropischen Tagträumen animiert. Mit ein wenig Glück begleitet vom Anblick spielender Delfine.
    img2: day2-2

    day-content3: block
    subtitle3: Mediterraner Lifestyle im The Collection
    day-description3: Den Tag mediterran ausklingen lassen, über pittoreske Piazzas flanieren, sich unter dem strahlenden Sternenhimmel kulinarisch verwöhnen lassen – das alles und noch viel mehr bietet The Collection. Vom The St. Regis Saadiyat Island Resort orchestrierter Mittelmeer-Lifestyle zwischen Patios und Terrassen, der mit erstklassiger Restaurant-Auswahl, handverlesenen Edelboutiquen und Wellnesszentrum zum Verweilen einlädt. Nach dem Dinner geht es in nur ca. 20 Minuten zurück zum Abu Dhabi International Airport oder zurück ins Hotel – mit einem Kaleidoskop exotischer Eindrücke im Gepäck, die noch lange nach dem Stopover nachhallen werden.
    img3: day2-3
    link: "#two-link"



---
{% include nav/page.html content=page.features %}

<div class=" vpad--xxl abu-parallax-dark" style="background-image:url('{{site.img}}/content/{{page.id}}/hero.jpg'); ">

  <div class="container">
    <div class="width width--lg text--white text--center text--xxl">
      <p>{{page.intro}}</p>
    </div>
  </div>

</div>


{% for feature in page.features %}
  <div class="{% cycle 'bg--white', 'bg--light' %}">
    <div class="container">
      <div id="{{feature.id}}" class="vpad--lg">
        <div class="width width--xl text--center">
          <h2 class="abu-deco-font abu-deco-font--xxxxl abu-font-color">{{feature.title}}</h2>
          <div class="space--lg"></div>
            <h4 class="title title--md">{{feature.subtitle}}</h4>
          <p>{{feature.description}}</p>

        <!--  <a href="{{feature.link}}" class="btn btn--sm btn--orange">Zu den Angeboten</a>-->
        </div>
      </div>

      <div class="bob" >
        <div class="bob__img">
          <a href="#image-link">
            <div class="bg-img bg-img--3-2" style="background-image:url('{{site.img}}/content/{{page.id}}/{{feature.img1}}.jpg');"></div>
          </a>
        </div>
        <div class="bob__text" >
          <div class="title title--xs ">{{feature.subtitle1}}</div>
          <p>{{feature.day-description1}} </p>
            <div class="space--md"></div>

        </div>
      </div>

      <div class="bob bob--swap">
        <div class="bob__img">
          <a href="#image-link">
            <div class="bg-img bg-img--3-2" style="background-image:url('{{site.img}}/content/{{page.id}}/{{feature.img2}}.jpg');"></div>
          </a>
        </div>
        <div class="bob__text">
           <div class="title title--xs">{{feature.subtitle2}}</div>
          <p>{{feature.day-description2}} </p>
          <div class="space--md"></div>
        </div>
      </div>

      <div class="bob" >
        <div class="bob__img">
          <a href="#image-link">
            <div class="bg-img bg-img--3-2" style="background-image:url('{{site.img}}/content/{{page.id}}/{{feature.img3}}.jpg');"></div>
          </a>
        </div>
        <div class="bob__text" >
          <div class="title title--xs ">{{feature.subtitle3}}</div>
          <p>{{feature.day-description3}} </p>
            <div class="space--md"></div>

        </div>
      </div>

</div>
  <div class="space--xxl"></div></div>
{% endfor %}
