---
layout: default
id: stopover
title: Abu Dhabi Stopover
intro: Eine moderne Oase am Persischen Golf, eingerahmt von spektakulären Mangrovenlandschaften, majestätischen Wüsten und exotischen Bilderbuchstränden – wie geschaffen für eine märchenhaft orientalische Auszeit voll futuristischer Highlights und architektonischer Superlative. Erleben Sie eine dynamische Metropole, in der Träume glamouröse Wirklichkeit werden bei einem kultivierten Citytrip oder einem exklusiven Strandurlaub zwischen Dünen und Mangroven.
nav: true
nav-order: 2
banner:
  title: Stopover Abu Dhabi
  title-sub: Skyline-Fieber am Wüstenstrand
content-pages: true

features:

  - id: one
    title: Tag 1
    subtitle: Shopping, Kultur & Nightlife
    img: day1
    description: In einer schillernden Wüstenmetropole wie Abu Dhabi versprüht jede Tageszeit ihren eigenen Reiz. Ob morgendliche Spaziergänge über farbenfrohe Souks, eine mondäne Shoppingtour zur Mittagszeit oder ein romantischer Sonnenuntergang mit Skyline-Panorama – hier wird der Stopover zum facettenreichen Spektakel.

    day-content1: block
    subtitle1: Magisches Morgen-Shopping
    day-description1: Traditionelle Souks sind fester Bestandteil der arabischen Kultur. Edle Gewürze, orientalisches Kunsthandwerk und edle Stoffe wechseln in geschäftigen Kulissen die Besitzer, während das Feilschen die Märkte mit lebhafter Interaktion erfüllt. Der Fisch-Souk in Mina Zayed und der historische Al Ain Souk locken mit authentischer Händlerkultur, die auf dem Al Mina Obst- & Gemüse-Souk farbenfrohe Schnappschüsse garantiert. Kontrastreich ergänzt wird das Shoppingangebot durch mondäne Malls, Luxusboutiquen von Weltformat und Marken-Outlets, die den Stopover mit exquisiten Schnäppchen bereichern. Die perfekte Gelegenheit, um nach einem Mitbringsel für die Lieben daheim zu stöbern.
    img1: active1

    day-content2: block
    subtitle2: Majestätische Mittagstunden
    day-description2: Eine der faszinierendsten Facetten Abu Dhabis ist die allgegenwärtige Melange aus Tradition und Moderne. Nutzen Sie die heißen Mittagsstunden, um die reichhaltige Kultur der Beduinen zu erforschen und lassen Sie sich von den historischen und sakralen Wahrzeichen der Stadt verzaubern. Die prunkvolle und 2007 eröffnete Scheich-Zayid-Moschee beherbergt den größten handgeknüpften Teppich der Welt und bietet Platz für bis zu 40.000 Gläubige, die zwischen goldenen Kronleuchtern, weißem Marmor und über 1.000 Säulen beten. Bei der Sonnenuntergang-Tour erstrahlt die unter 82 Kuppeln thronende Moschee in flimmernden Glanz – ein majestätisches Fotomotiv, das bei Besuchern aller Religionen für andächtiges Staunen sorgt.
    img2: active2

    day-content3: block
    subtitle3: Über den Dächern von Abu Dhabi
    day-description3: Wenn die Skyline von Abu Dhabi in den Abendstunden kunstvoll illuminiert zum Leben erwacht, ist eine Rooftop-Bar der perfekte Spot, um die Eindrücke des Tages bei einer von atemberaubenden Aussichten untermalten Cocktailstunde Revue passieren zu lassen. Zum Beispiel in der legendären Up & Below Bar im 12. Stock des Courtyard by Marriott World Trade Center, die dank Rooftop-Pool exklusive Erfrischung mit Skyline-Panorama garantiert. Oder in der futuristischen Skylite Lounge des Yas Viceroy Abu Dhabi Hotels mit Blick über den Yas Marina Curcuit. Nicht schwindelfrei? Dann ist die stylishe Beach House Rooftop im Park Hyatt die perfekte Alternative, um malerische Sonnenuntergänge am Arabischen Meer zu genießen.
    img3: active3
    link: "#one-link"

  - id: two
    title: Tag 2
    subtitle: Kultur & Beachlife auf Saadiyat Island
    img: day2
    description: In einer schillernden Wüstenmetropole wie Abu Dhabi versprüht jede Tageszeit ihren eigenen Reiz. Ob morgendliche Spaziergänge über farbenfrohe Souks, eine mondäne Shoppingtour zur Mittagszeit oder ein romantischer Sonnenuntergang mit Skyline-Panorama – hier wird der Stopover zum facettenreichen Spektakel.

    day-content1: block
    subtitle1: Kultur pur im Louvre Abu Dhabi
    day-description1: Wenige Minuten von Abu Dhabi Downtown und nur eine kurze Fahrt vom Abu Dhabi International Airport sorgt Saadiyat Island mit kolossaler Kulturdichte für andächtiges Staunen. Entdecken Sie im vom französischen Stararchitekten Jean Nouvel entworfenen Universalmuseum Louvre Abu Dhabi die Meisterwerke weltberühmter Künstler. Auf 55 Gebäuden über dem Meer thronend, erwartet Sie ein für die arabische Welt einzigartiges Symbol interkultureller Verständigung. Stetig um neue Exponate aus allen Epochen ergänzt, gehört der Louvre Abu Dhabi schon seit seiner Eröffnung im November 2017 zu den bedeutendsten Kunstsammlungen der Welt.
    img1: active1

    day-content2: block
    subtitle2: Relaxen am Saadiyat Beach
    day-description2: Weiße Puderzuckerstrände, umgeben von natürlicher Dünenvegetation, türkisblauem Wasser und einem für heimische Karettschildkröten vorbehaltenen Naturparadies – am Saadiyat Public Beach tauchen Sie nach dem Besuch des Kulturzentrums von Abu Dhabi im Persischen Golf ab, vergnügen sich bei einer Partie Golf im edlen Saadiyat Beach Golfclub oder entspannen in schattigen Sesseln. Exklusiver Luxus erwartet Sie im Saadiyat Beach Club, der mit edlem Spa, Infinitypool und lauschigen Lounge-Betten zu tropischen Tagträumen animiert. Mit ein wenig Glück begleitet vom Anblick spielender Delfine.
    img2: active2

    day-content3: block
    subtitle3: Mediterraner Lifestyle im The Collection
    day-description3: Den Tag mediterran ausklingen lassen, über pittoreske Piazzas flanieren, sich unter dem strahlenden Sternenhimmel kulinarisch verwöhnen lassen – das alles und noch viel mehr bietet The Collection. Vom The St. Regis Saadiyat Island Resort orchestrierter Mittelmeer-Lifestyle zwischen Patios und Terrassen, der mit erstklassiger Restaurant-Auswahl, handverlesenen Edelboutiquen und Wellnesszentrum zum Verweilen einlädt. Nach dem Dinner geht es in nur ca. 20 Minuten zurück zum Abu Dhabi International Airport oder zurück ins Hotel – mit einem Kaleidoskop exotischer Eindrücke im Gepäck, die noch lange nach dem Stopover nachhallen werden.
    img3: active3
    link: "#two-link"



---
<!--
thumbnails:

  - id: active1
    title: Sinnliche Einstimmung
    description: Wie tief verwurzelt die Beduinen-Kultur in Abu Dhabi ist, hört, sieht und riecht man nicht nur auf den farbenprächtigen Lebensmittel-Märkten.

  - id: active2
    title: High-End-Shopping
    description: Ob traditionelle Märkte, exklusive Luxus-Boutiquen oder mit Markenshops gepflasterte Malls – in Abu Dhabi wird der Einkauf zum Event.

  - id: active3
    title: High-End-Shopping
    description: Ob traditionelle Märkte, exklusive Luxus-Boutiquen oder mit Markenshops gepflasterte Malls – in Abu Dhabi wird der Einkauf zum Event./-->



<div class="bg--light vpad--xxl">
  <div class="container">
    <div class="width width--lg text--center text--xl">
      <p>{{page.intro}}</p>
    </div>
  </div>
</div>

{% include nav/page.html content=page.features %}

{% for feature in page.features %}
  <div class="{% cycle 'bg--white', 'bg--light' %}">
    <div class="container">
      <div id="{{feature.id}}" class="vpad--lg">
        <div class="vpad--xs width width--xl text--center">
          <h2 class="title title--xl text--upper">{{feature.title}}</h2>
          <div class="space--lg"></div>
        <div class="bg-img bg-img--16-9" style="background-image: url('{{site.img}}/content/{{page.id}}/{{feature.img}}.jpg')"></div>
        <div class="space--lg"></div>
            <h4 class="title title--md">{{feature.subtitle}}</h4>
          <p>{{feature.description}}</p>

        <!--  <a href="{{feature.link}}" class="btn btn--sm btn--orange">Zu den Angeboten</a>-->
        </div>
      </div>

  <div class="row row--gutters-md">
    <!-- thumbnails/-->

        <div class="col col--xl-4 col--xxl-4 text--center" style="display:{{feature.day-content1}};">
        <div class="pt-highlight-shadow">
          <div class="highlight__image bg-img bg-img--16-9" style="background-image:url('{{site.img}}/content/{{page.id}}/{{feature.img1}}.jpg');"></div>
          <div class="highlight__text boxpad--lg bg--white">
          <h5 class="core-title core-title--xs text--bold">{{feature.subtitle1}}</h5>
          <div class="space--xs"></div>{{feature.day-description1}}<br>

        </div>
      </div>
    </div>
    <div class="col col--xl-4 col--xxl-4 text--center" style="display:{{feature.day-content2}};">
    <div class="pt-highlight-shadow">
      <div class="highlight__image bg-img bg-img--16-9" style="background-image:url('{{site.img}}/content/{{page.id}}/{{feature.img2}}.jpg');"></div>
      <div class="highlight__text boxpad--lg bg--white">
      <h4 class="core-title core-title--xs text--bold">{{feature.subtitle2}}</h4>
      <div class="space--xs"></div>{{feature.day-description2}}<br>

    </div>
  </div>
</div>
<div class="col col--xl-4 col--xxl-4 text--center" style="display:{{feature.day-content3}};">
<div class="pt-highlight-shadow">
  <div class="highlight__image bg-img bg-img--16-9" style="background-image:url('{{site.img}}/content/{{page.id}}/highlight3.jpg'); "></div>
  <div class="highlight__text boxpad--lg bg--white">
  <h4 class="core-title core-title--xs text--bold">{{feature.subtitle3}}</h4>
  <div class="space--xs"></div>{{feature.day-description3}}<br>

</div>
</div>
</div>



  </div></div>
  <div class="space--xxl"></div></div>
{% endfor %}
