---
layout: default
id: stopover
title: Abu Dhabi Stopover
intro: Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odit quo aspernatur nemo totam optio, similique ipsum unde consectetur tempore quae autem earum quidem placeat, harum, deleniti voluptatem pariatur ratione cumque.
nav: true
nav-order: 2
banner:
  title: Stopover Abu Dhabi
  title-sub: Skyline-Fieber am Wüstenstrand
content-pages: true

features:

  - id: one
    title: Tag 1
    description: Lorem ipsum dolor sit amet, consectetur adipisicing elit. Labore suscipit, nam sit reprehenderit doloribus non dolore voluptatem autem ex adipisci, eius quibusdam placeat earum magnam aspernatur magni aut, doloremque rerum.
    link: "#one-link"

  - id: Tag 2
    title: two
    description: Lorem ipsum dolor sit amet, consectetur adipisicing elit. Labore suscipit, nam sit reprehenderit doloribus non dolore voluptatem autem ex adipisci, eius quibusdam placeat earum magnam aspernatur magni aut, doloremque rerum.
    link: "#two-link"


---

<div class="bg--light vpad--xxl">
  <div class="container">
    <div class="width width--lg text--center text--xl">
      <p>{{page.intro}}</p>
    </div>
  </div>
</div>

{% include nav/page.html content=page.features %}

{% for feature in page.features %}
  <div class="{% cycle 'bg--white', 'bg--light' %}">
    <div class="container">
      <div id="{{feature.id}}" class="vpad--xxxxl">
        <div class="vpad--xxxxl width width--xl text--center">
          <h2 class="title title--xl">{{feature.title}}</h2>
          <p>{{feature.description}}</p>
          <div class="space--sm"></div>
          <a href="{{feature.link}}" class="btn btn--sm btn--orange">Find Out More</a>
        </div>
      </div>
    </div>
  </div>
{% endfor %}
