// general styles for the project that wouldn't be a reuseable component



/* ==========================================================================
   Deco fonts & colours
   ========================================================================== */

.abu-deco-font{
  font-family: $font-deco;
line-height: 1.1em;
  &--xxxxl   { font-size: $s10; }
  &--xxxl   { font-size: $s8; }
  &--xxl    { font-size: $s7; }
  &--xl     { font-size: $s6; }
  &--lg     { font-size: $s5; }
  &--md     { font-size: $s4; }
  &--sm     { font-size: $s3; }
  &--xs     { font-size: $s2; }
  &--xxs    { font-size: $s1; }
  &--xxxs   { font-size: $s0; }


}
.abu-font-color{
  color: rgba(228, 3, 42, .8);
}

.abu-bg-color{
  background-color: rgba(228, 3, 42, 1);
}



.abu-text-shadow {
    text-shadow: 0px 0px 25px rgba(0,0,0,0.8);
}
.abu-banner-gradient{
  margin-top: 15vh;
  background: linear-gradient(to right, rgba(0,0,0,0) 1%,rgba(0,0,0,0.5) 29%,rgba(0,0,0,0.5) 72%,rgba(0,0,0,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00191919', endColorstr='#00191919',GradientType=1 ); /* IE6-9 */

}

.abu-banner-margin-top{

margin-top:-20vh;
}

/* ==========================================================================
   Show/Hide Content
   ========================================================================== */
.abu-hidden{display: none;}

@media only screen and (max-width: 1024px) {
  .abu-mob-hide{display: none;}
.abu-hidden{ display: block;}
}



/* ==========================================================================
   Parallax
   ========================================================================== */

.abu-parallax{
  background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    &--darkest   {
      background-attachment: fixed;
    background-color: rgba(5,20,40,0.9);
    background-blend-mode: multiply;
      background-position: center;
      background-size: cover;}
      &--darker   {
        background-attachment: fixed;
      background-color: rgba(5,20,40,0.8);
      background-blend-mode: multiply;
        background-position: center;
        background-size: cover;}
      &--dark   {
        background-attachment: fixed;
      background-color: rgba(5,20,40,0.7);
        background-blend-mode: multiply;
          background-position: center;
          background-size: cover;}

      &--lighter   {
        background-attachment: fixed;
      background-color: rgba(250,250,250,0.7);
      background-blend-mode: lighten;
        background-position: center;
        background-size: cover;
      }
      &--light   {
        background-attachment: fixed;
      background-color: rgba(250,250,250,0.6);
      background-blend-mode: color;
        background-position: center;
        background-size: cover; }

}




@media only screen and (max-width: 1024px) {

.abu-bg-black{
  background-color: #000;}

.abu-remove-bg{

  background-image: none!important;

  &--black{

    background-image: none!important;
    background-color: #000;

}

}



    .abu-parallax{
      background-attachment: scroll;
      background-size: cover;


    &--darkest   {
      background-attachment: scroll;
      background-size: cover;
    }
      &--darker   {
        background-attachment: scroll;
        background-size: cover;
      }
      &--dark   {
        background-attachment: scroll;
        background-size: cover;
        }

      &--lighter   {
        background-attachment: scroll;
        background-size: cover;

      }
      &--light   {
        background-attachment: scroll;
        background-size: cover;
     }
      }

}

/* ==========================================================================
   Abu-Buttons
   ========================================================================== */

.abu-button{
  background-color: rgba(195, 14, 46, 1);
    border-radius: 2px;
    font-size: 0.9rem;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #ffffff;
    transition: all ease 0.4s;
    border: none;
    padding: 16px 28px;
    cursor: pointer;
}
.abu-button:hover{
  background-color: rgba(195, 14, 46, 0.75);
    border-radius: 2px;
    font-size: 0.9rem;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #ffffff;
    transition: all ease 0.4s;
    border: none;
    padding: 16px 28px;
    cursor: pointer;
}



.clearfix {
  overflow: auto;
}
